# remove python notebooks checkpoints
.ipynb_checkpoints/

# remove pycache
__pycache__/  

#ignore icloud files
*.icloud

# ignore DStore
*.DStore  

# ignore old python resources
old_res/  

# ignore Papers
Papers/

# ignore folder with all json
json_resources/

# ignore charts
charts/

# ignore scripts
scripts/ 

zenodo/

